aside.emoji-picker-react {
  background: #202124;
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 280px;
  font-family: sans-serif;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

aside.emoji-picker-react .content-wrapper-epr {
  flex: 1;
  overflow-y: hidden;
  position: relative;
}

.emoji-picker-react .emoji-scroll-wrapper {
  overflow-y: scroll;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

aside.emoji-picker-react .content-wrapper-epr:before {
  content: attr(data-name);
  color: #aaa;
  font-size: 11px;
  display: block;
  position: absolute;
  right: 8%;
  z-index: 10;
  line-height: 45px;
  max-height: 45px;
  overflow: hidden;
  max-width: 100px;
  text-overflow: ellipsis;
  text-align: right;
}

aside.emoji-picker-react button {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}
